* {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: medium;
}

body {
    background-color: ghostwhite;
    color: ghostwhite;
}

.navGuide nav ul {
    display: flex;
    flex-direction: row;
    gap: 30px 20px;
    list-style-type: none;
    color: #445444;
}

ul li:nth-child(1) {
    width: 10%;
    height: 30px;
    background-color: #8fbc8f;
    border-radius: 25px;
    text-align: center;
    line-height: 30px;
    box-shadow: 0 10px 30px #445444;
    color: ghostwhite;
  }

  ul li:nth-child(2) {
    width: 10%;
    height: 30px;
    background-color: #8fbc8f;
    border-radius: 25px;
    text-align: center;
    line-height: 30px;
    box-shadow: 0 10px 30px #445444;
    color: ghostwhite;
  }

  ul li:nth-child(3) {
    width: 10%;
    height: 30px;
    background-color: #8fbc8f;
    border-radius: 25px;
    text-align: center;
    line-height: 30px;
    box-shadow: 0 10px 30px #445444;
    color: ghostwhite;
  }

  ul li button {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    width: 100%;
    height: 100%;
}



.wrapper {
    width: 400px;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

#section1 {
    font-weight: 400;
    font-size: larger;
}

#section2 {
    font-weight: 400;
    font-size: larger;
}

#section3 {
    font-weight: 400;
    font-size: larger;
}



.container{
    width: 75%;
    height: 300px;
    background-color: #8fbc8f;
    padding: 50px 40px;
    box-shadow: 0 20px 65px #445444;
    position: relative;
    border-radius: 25px;
    text-align: center;
}

.tab1{
    width: 5%;
    height: 300px;
    background-color: #8fbc8f;
    padding: 50px 40px;
    box-shadow: 0 20px 65px #445444;
    position: relative;
    border-radius: 25px;
    text-align: center;
}

.tab2{
    width: 5%;
    height: 300px;
    background-color: #8fbc8f;
    padding: 50px 40px;
    box-shadow: 0 20px 65px #445444;
    position: relative;
    border-radius: 25px;
    text-align: center;
}

#generate {
    background-color: ghostwhite;
    border-color: #545f66;
    border-radius: 25px;
    box-shadow: 0 10px 25px #445444;
    display: block;
    margin: 50px auto 20px 160px; 
    padding: 10px 20px; 
    font-size: 16px;
    z-index: 1; 
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
}

#generate:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 25px;
}

#generate:active {
    color: #000
}

#generate:active:after {
    background: transparent;
}

#generate:hover:before {
    opacity: 1;
}

#generate:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 25px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}


.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px; 
    margin: 0 auto;
}

.container, .tab1 {
    width: 40%;
}


.container, .tab2 {
    width: 40%;
}

