* {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: medium;
}

body {
    background-color: ghostwhite;
    color: ghostwhite;
}

.navGuide nav ul {
    display: flex;
    flex-direction: row;
    gap: 30px 20px;
    list-style-type: none;
    color: #445444;
}

ul li:nth-child(1) {
    width: 10%;
    height: 30px;
    background-color: #8fbc8f;
    border-radius: 25px;
    text-align: center;
    line-height: 30px;
    box-shadow: 0 10px 30px #445444;
    color: ghostwhite;
  }

  ul li:nth-child(2) {
    width: 10%;
    height: 30px;
    background-color: #8fbc8f;
    border-radius: 25px;
    text-align: center;
    line-height: 30px;
    box-shadow: 0 10px 30px #445444;
    color: ghostwhite;
  }

  ul li:nth-child(3) {
    width: 10%;
    height: 30px;
    background-color: #8fbc8f;
    border-radius: 25px;
    text-align: center;
    line-height: 30px;
    box-shadow: 0 10px 30px #445444;
    color: ghostwhite;
  }

  ul li button {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    width: 100%;
    height: 100%;
}



.wrapper {
    width: 400px;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

#section1 {
    font-weight: 400;
    font-size: larger;
}

#section2 {
    font-weight: 400;
    font-size: larger;
}

#section3 {
    font-weight: 400;
    font-size: larger;
}



.container{
    width: 75%;
    height: 300px;
    background-color: #8fbc8f;
    padding: 50px 40px;
    box-shadow: 0 20px 65px #445444;
    position: relative;
    border-radius: 25px;
    text-align: center;
}

.tab1{
    width: 5%;
    height: 300px;
    background-color: #8fbc8f;
    padding: 50px 40px;
    box-shadow: 0 20px 65px #445444;
    position: relative;
    border-radius: 25px;
    text-align: center;
}

.tab2{
    width: 5%;
    height: 300px;
    background-color: #8fbc8f;
    padding: 50px 40px;
    box-shadow: 0 20px 65px #445444;
    position: relative;
    border-radius: 25px;
    text-align: center;
}

#generate {
    background-color: ghostwhite;
    border-color: #545f66;
    border-radius: 25px;
    box-shadow: 0 10px 25px #445444;
    display: block;
    margin: 50px auto 20px 160px; 
    padding: 10px 20px; 
    font-size: 16px;
    z-index: 1; 
}


.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px; 
    margin: 0 auto;
}

.container, .tab1 {
    width: 40%;
}


.container, .tab2 {
    width: 40%;
}

